.container__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--primary-white);
  border-radius: 4px;
}

h2,
span {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}
