.container__menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__menu {
  background-color: var(--disabled);
  width: 80px;
}

.button__menu:hover {
  background-color: var(--text-color);
}

nav {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
